Django>=2.0,<3.0
psycopg2>=2.7,<3.0
boto3==1.9.71

# Rest framework
djangorestframework>=3.9.1
#djangorestframework==3.9.0
djangorestframework-jsonapi==2.6.0
djangorestframework-bulk==0.2.1

nltk==3.4.5
numpy==1.16.4
pandas==0.24.2
sklearn==0.0


